@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #ffffff;
}

.marquee {
  animation: marquee 22s linear infinite;
  padding-left: 100%;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-100%);
  }
}

video {
  display: block;
}